
*.Rproj

.Rhistory

*.Rdata

.Rproj.user/A987C094/sdb/s-ACD21C34/411ACF03

.Rproj.user/A987C094/sdb/s-ACD21C34/20237007

.Rproj.user/A987C094/saved_source_markers

*.pper

.Rproj.user/A987C094/sdb/s-ACD21C34/7C90CD63

.Rproj.user/A987C094/sdb/s-ACD21C34/C34962F

.Rproj.user/A987C094/sdb/prop/43DA6E5C

.Rproj.user/A987C094/sdb/prop/INDEX

.Rproj.user/A987C094/sdb/s-ACD21C34/lock_file
.Rproj.user
